@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme (default) */
:root {
  --background: #ffffff;
  --primary: #1f2937;     /* Blue */
  --accent: #a78bfa;      /* Green */
  --text: #000000;
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --primary: #1f2937;    /* Green */
    --accent: #634ba6;     /* Blue */
    --text: #000000;
  }
}

/* Global body styles */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}


@keyframes scroll-horizontal {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 30s linear infinite;
}

@keyframes scroll-vertical {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.animate-scroll-vertical {
  animation: scroll-vertical 30s linear infinite;
}